/*

	Fonts stuffs

*/

/* Noto Sans */
@font-face {
    font-family:"Noto Sans";
    font-weight:normal;
    font-style:normal;
    src:url("fonts/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
    font-family:"Noto Sans";
    font-weight:normal;
    font-style:italic;
    src:url("fonts/Noto_Sans/NotoSans-Italic.ttf");
}

@font-face {
    font-family:"Noto Sans";
    font-weight:bold;
    font-style:normal;
    src:url("fonts/Noto_Sans/NotoSans-Bold.ttf");
}

@font-face {
    font-family:"Noto Sans";
    font-weight:bold;
    font-style:italic;
    src:url("fonts/Noto_Sans/NotoSans-BoldItalic.ttf");
}

/* Noto Serif */
@font-face {
    font-family:"Noto Serif";
    font-weight:normal;
    font-style:normal;
    src:url("fonts/Noto_Serif/NotoSerif-Regular.ttf");
}

@font-face {
    font-family:"Noto Serif";
    font-weight:normal;
    font-style:italic;
    src:url("fonts/Noto_Serif/NotoSerif-Italic.ttf");
}

@font-face {
    font-family:"Noto Serif";
    font-weight:bold;
    font-style:normal;
    src:url("fonts/Noto_Serif/NotoSerif-Bold.ttf");
}

@font-face {
    font-family:"Noto Serif";
    font-weight:bold;
    font-style:italic;
    src:url("fonts/Noto_Serif/NotoSerif-BoldItalic.ttf");
}


/*

	High-level Structure

*/
body {
	background-color:#eceff4;
	color:#3b4252;
	font-family:"Noto Sans", Helvetica, Arial, Sans;
	font-size:12pt;
	padding:0;
	margin:0;
}

header {
	color:#eceff4;
	padding-bottom:10pt;
}

header h1, header h2, header h3 {
	color:#eceff4;
}

header, footer {
	background-color:#2e3440;
}

footer {
	font-size:11pt;
}

footer, footer h1, footer h2, footer h3 {
	color:#d8dee9;
}

footer section {
	float:left;
	width:calc(33% - 30pt);
}

footer .Copyright {
	margin-right:30pt;
}

header h1 {
	font-size:32pt;
}

header button, footer button {
	background-color:#eceff4;
	color:#2e3440;
}

article {
	padding:20pt 30pt;
	max-width:960px;
	margin:0 auto;
}

body > article {
	min-height:100vh;
	padding-bottom:20pt;
}

blockquote {
	position:relative;
	margin:30pt;
	padding:20pt 30pt 30pt;
	border-radius:10pt;

	font-family:"Noto Serif", Serif;
	font-size:18pt;
	font-style:italic;
	font-weight:normal;
	line-height:1.75em;
}

h1, h2, h3, h4 {
	font-family:"Noto Serif", Serif;
	color:#2e3440;
	margin:0 0 1em;
	padding:0 0 0.25em 0;
	border-bottom:2px solid;
}

h1 {
	font-size:26pt;
}

h2 {
	font-size:20pt;
}

h3 {
	font-size:16pt;
}

a {
	color:#88c0d0;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a img {
	border:none;
}

img {
	width:100%;
}

hr {
	height:0;
	overflow:hidden;
	margin:20pt;
	border:none;
	border-top:1px solid #d8dee9;
}

p {
	margin:0 0 1em;
	padding:0;
	line-height:1.75em;
}

label {
	font-size:13pt;
	font-weight:bold;
	position:relative;
	top:0.5em;
}

input, textarea {
	border:none;
	color:#2e3440;
	padding:7pt;
	background-color:#fff;
	font-size:13pt;
	margin:0;
}

textarea {
	min-height:160px;
}

button {
	color:#fff;
	background-color:#88c0d0;
	border:none;
	padding:7pt 12pt;
	font-size:13pt;
	font-weight:bold;
	border-radius:3pt;

	line-height:1.6125em;

	box-shadow:inset 0 -3pt 0 rgba(0, 0, 0, 0.13);
}

button.Cancel {
	background-color:#bf616a;
}

form {
	margin:0 0 20pt;
}

form ul {
	list-style:none;
	margin:0 0 20pt;
	padding:0;
}

form ul li {
	margin:0 0 20pt;
}

form ul li label {
	float:left;
	text-align:right;
	margin-right:10pt;
	width:calc(20% - 10pt);
}

form ul li input, form ul li textarea {
	float:left;
	width:calc(80% - 34pt);
}

ul.Contact {
	font-size:13pt;
	list-style:none;
	padding:0 0 0 20pt;
	margin:0 0 20pt;
	line-height:1.5em;
}

.Slideshow {
	position:relative;
	height:40vh;
}

.Slideshow ol {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;

	list-style:none;
	margin:0;
	padding:0;
}

.Slideshow ol li {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
}

.Slideshow button {
	position:absolute;
	font-size:32pt;
	font-weight:bold;
	top:calc(50% - 1em);
	z-index:5;

	padding:0 0.4em;
}

.Slideshow button.Previous {
	left:-0.5em;
}

.Slideshow button.Next {
	right:-0.5em;
}

.Products {
	list-style:none;
	margin:0;
	padding:0;
}

.Products li {
	margin:0 0 30pt;
}

.Products img {
	border-radius:5pt;
}

.Products li:nth-child(odd) .Text {
	float:left;
	width:calc(33% - 10pt);
}

.Products li:nth-child(odd) .Image {
	float:right;
	width:calc(66% - 10pt);
}

.Products li:nth-child(even) .Text {
	float:right;
	width:calc(33% - 10pt);
}

.Products li:nth-child(even) .Image {
	float:left;
	width:calc(66% - 10pt);
}

#overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10;
	display:none;
	background-color:rgba(46, 52, 64, 0.8);
}

#contact_form {
	position:fixed;
	top:30pt;
	left:20pt;
	width:calc(100% - 80pt);
	z-index:100;
	display:none;
	box-shadow:0 0 80px rgba(0, 0, 0, 0.62);
	background-color:#e5e9f0;
	border-radius:10pt;
	padding:20pt;
}

#contact_form h1 {
	font-size:24pt;
}

#contact_form form {
	margin-bottom:0;
}

#contact_form > div {
	background-color:#d8dee9;
	text-align:right;
	padding:10pt;
	border-bottom-left-radius:10pt;
	border-bottom-right-radius:10pt;
}

#contact_form > div button {
	margin-left:5pt;
}

#contact_success {
	display:none;
}

/*

	ALL CLEAR FIXES:

*/
form ul li::after,
#contact_form > div::after,
.Products li::after,
footer > article::after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}



@media screen and (max-width: 780px) {
	header h1 {
		font-size:26pt;
	}

	blockquote {
		margin:20pt 0;
		padding:0;
		background-color:transparent;
	}

	form ul li label {
		padding-bottom:10pt;
	}

	form ul li label,
	form ul li input,
	form ul li textarea {
		position:static;
		display:block;
		float:none;
		text-align:left;
		line-height:1em;
	}

	footer section {
		width:calc(50% - 10pt);
	}

	footer .Copyright {
		margin-right:20pt;
	}

	ul.Contact {
		padding:0;
	}

	.Slideshow {
		height:30vh;
	}

	.Slideshow button {
		font-size:24pt;
	}

	.Products li:nth-child(odd) .Text {
		float:left;
		width:calc(66% - 10pt);
	}

	.Products li:nth-child(odd) .Image {
		float:right;
		width:calc(33% - 10pt);
	}

	.Products li:nth-child(even) .Text {
		float:right;
		width:calc(66% - 10pt);
	}

	.Products li:nth-child(even) .Image {
		float:left;
		width:calc(33% - 10pt);
	}

	#contact_form {
		top:10pt;
		left:10pt;
		width:calc(100% - 40pt);
		padding:10pt;
	}
}

@media screen and (max-width: 600px) {
	.Products li .Text,
	.Products li .Image {
		float:none !important;
		width:100% !important;
	}
}
